{% extends 'core/base.html' %}
{%load static %}
{% block title %}Registro Automatico{% endblock %}
{% block content %}
<section class="contenedor-main row justify-content-center">
  <main class="col-8 ">
      <div class="card">
              <div class="card-body">
                  <h3 class="card-title text-center">Registro Automático</h3>
                  <hr>
                  <a href="{% url 'start' %}" class="btn btn-primary btn-lg btn-block">Start</a>
                  <button type="button" class="btn btn-danger btn-lg btn-block" disabled>Stop</button>
              </div>
      </div>
  </main>
</section>  
{% endblock %}  
